In [1]:
import numpy as np
import pandas as pd

In [2]:
poke_df = pd.read_csv('pokemon.csv')

In [3]:
battle_df = pd.read_csv('combats.csv')

In [ ]:
poke_df.head()

In [ ]:
battle_df.head()
##can see we may wish to create column representing whether or not the first pokemon won the battle, to use as a feature column
##(this comes later)

In [4]:
poke_working = poke_df.copy()
battle_working = battle_df.copy()
##creating copies to avoid losing data to mistakes later down the line

In [5]:
battle_working = pd.merge(battle_working, poke_working.add_prefix('0_'), left_on='First_pokemon', right_on='0_#')
battle_working = pd.merge(battle_working, poke_working.add_prefix('1_'), left_on='Second_pokemon', right_on='1_#')
##merging the stats of the pokemon (poke_working) with the pokemon who took place in battle (battle_working)
##used prefixes to identify which statistics coincide with which pokemon in the battle where 0 represents the first and 1 represents the second
##left with some unnecessary columns now i.e. 0_# and 1_# which are copies of First_pokemon and Second_pokemon -- will deal with this later

In [6]:
battle_working.head()

,First_pokemon,Second_pokemon,Winner,0_#,0_Name,0_Type 1,0_Type 2,0_HP,0_Attack,0_Defense,...,1_Type 1,1_Type 2,1_HP,1_Attack,1_Defense,1_Sp. Atk,1_Sp. Def,1_Speed,1_Generation,1_Legendary
0,266,298,298,266,Larvitar,Rock,Ground,50,64,50,...,Grass,Dark,70,70,40,60,40,60,3,False
1,73,298,298,73,Machop,Fighting,NaN,70,80,50,...,Grass,Dark,70,70,40,60,40,60,3,False
2,373,298,298,373,Whiscash,Water,Ground,110,78,73,...,Grass,Dark,70,70,40,60,40,60,3,False
3,536,298,536,536,Fan Rotom,Electric,Flying,50,65,107,...,Grass,Dark,70,70,40,60,40,60,3,False
4,368,298,368,368,Zangoose,Normal,NaN,73,115,60,...,Grass,Dark,70,70,40,60,40,60,3,False

In [19]:
#battle_working.to_csv('battle_stats_combined.csv')
##exporting combined dataframe produced above for ease of use in future

## Cleaning & Exploring

In [8]:
##remove duplicate identifiers
battle_working.drop(columns=['0_#', '1_#'], inplace=True)

In [11]:
battle_working.isna().sum()
##null values seem to be mainly in type 2, this is not a missing value but simply that the pokemon in question has only one type
##will replace these nulls with simply 'no' for now

First_pokemon         0
Second_pokemon        0
Winner                0
0_Name               56
0_Type 1              0
0_Type 2          24031
0_HP                  0
0_Attack              0
0_Defense             0
0_Sp. Atk             0
0_Sp. Def             0
0_Speed               0
0_Generation          0
0_Legendary           0
1_Name               52
1_Type 1              0
1_Type 2          23985
1_HP                  0
1_Attack              0
1_Defense             0
1_Sp. Atk             0
1_Sp. Def             0
1_Speed               0
1_Generation          0
1_Legendary           0
dtype: int64

In [16]:
battle_working[battle_working['0_Name'] == '']

Empty DataFrame
Columns: [First_pokemon, Second_pokemon, Winner, 0_Name, 0_Type 1, 0_Type 2, 0_HP, 0_Attack, 0_Defense, 0_Sp. Atk, 0_Sp. Def, 0_Speed, 0_Generation, 0_Legendary, 1_Name, 1_Type 1, 1_Type 2, 1_HP, 1_Attack, 1_Defense, 1_Sp. Atk, 1_Sp. Def, 1_Speed, 1_Generation, 1_Legendary]
Index: []

[0 rows x 25 columns]